<div class="container__big-card">
  <!-- mockado -->
  <div class="big-card__photo">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"
    alt=""
    srcset=""
    >
  </div>
  <div class="big-card__title">
   <h1> <a href=""> Saiu a nova versao do Angular </a></h1>
  </div>
  <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis sem lectus. Donec maximus massa sit amet blandit iaculis. Duis odio enim, eleifend nec mi id, tempus interdum magna. Quisque sit amet odio congue enim congue cursus. Duis non lacus felis. Donec dignissim ex eget risus rutrum, non maximus nunc scelerisque. Sed tincidunt maximus euismod. Aenean vitae odio non diam sagittis consectetur. Sed sollicitudin, urna at gravida euismod, ex felis accumsan arcu, vel dignissim arcu dolor ac velit. Aenean non dolor pretium, tincidunt ante eget, faucibus magna.</p>
  </div>

</div>
